<div class="wrapper">
    <div class="methods-wrapper">
        <select name="" id="" class="methods-selector">
            <option value="" class="method">GET</option>
            <option value="" class="method">POST</option>
            <option value="" class="method">PUT</option>
            <option value="" class="method">DELETE</option>
            <option value="" class="method">PATCH</option>
            <option value="" class="method">HEAD</option>
        </select>
    </div>
    <div class="url-area">
        <input type="text" class="url-input" placeholder="Enter URL here">
    </div>
    <button class="action-btn">SEND</button>
</div>
<div class="request-options">
    <ul class="options">
        <li class="option">Body</li>
        <li class="option">Query</li>
        <li class="option">Headers</li>
    </ul>
    <div class="value" contenteditable="true">
    </div>
</div>
<h4>Response:</h4>
<div class="response-tab">
    <ul class="options">
        <li class="option">XML</li>
        <li class="option">JSON</li>
        <li class="option">Text</li>
    </ul>
    <div class="response">
    </div>
</div>

